h1{
  text-align: center;
}

.text{
  margin-top: 5%;
  text-align: center;
  color: blue;
}

.upload{
  margin-top: 5%;
  text-align: center;
}

.info{
  text-align: center;
  margin-top: 5%;
  color: darkgreen;
}


.custom-file-input{
  margin-left: 10%
}